@import 'tailwindcss';
@import 'tw-animate-css';

:root {
  --color-navy-100: #274c5b;
  --color-navy-200: #335b6b;

  --color-gray-100: #525c60;
  --color-gray-200: #ababab;
  --color-gray-300: #b8b8b8;
  --color-gray-400: #cccccc;
  --color-gray-500: #d4d4d4;
  --color-gray-600: #d5d5d5;
  --color-gray-700: #eff6f1;

  --color-white-100: #ffffff;
  --color-white-200: #f9f8f8;
  --color-white-300: #f1f1f1;

  --color-green-100: #8fa8a8;
  --color-green-200: #7eb693;

  --color-orange-100: #ffa858;

  --color-yellow-100: #efd372;
  --color-yellow-200: #fff4cd;

  --color-black-100: #0b0b0b;
  --color-black-200: #1e1e1e;
}

@theme {
  --color-navy-100: #274c5b;
  --color-navy-200: #335b6b;

  --color-gray-100: #525c60;
  --color-gray-200: #ababab;
  --color-gray-300: #b8b8b8;
  --color-gray-400: #cccccc;
  --color-gray-500: #d4d4d4;
  --color-gray-600: #d5d5d5;
  --color-gray-700: #eff6f1;

  --color-white-100: #ffffff;
  --color-white-200: #f9f8f8;
  --color-white-300: #f1f1f1;

  --color-green-100: #8fa8a8;
  --color-green-200: #7eb693;

  --color-orange-100: #ffa858;

  --color-yellow-100: #efd372;
  --color-yellow-200: #fff4cd;

  --color-black-100: #0b0b0b;
  --color-black-200: #1e1e1e;
}
