@import './colors.css';
@import './fonts.css';

@theme {
  --breakpoint-phone: 320px;
  --breakpoint-tablet: 768px;
  --breakpoint-laptop: 1440px;
  --breakpoint-desktop: 1920px;
}

body {
  font-family: Roboto;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
